<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tax Loss Harvesting Tool | Disclaimers</title>
    {{ template "includes" }}
</head>
<body>
<div>
    <div id="main-wrapper">
        {{/* Wrapper */}}
        {{ template "wrapper" $.TemplateCustomMetadata }}

        {{/* Main Content */}}
        <div class="content-body">
            <div class="main">
                <div class="container-fluid">
                    <h1>Disclaimer for GitHub Alerter</h1>

                    <section id="holdings-content">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <p>If you require any more information or have any questions about our site's
                                            disclaimer, please feel free to contact us by email at
                                            github.alerter@gmail.com. Our Disclaimer was generated with the help of the
                                            <a href="https://www.disclaimergenerator.net/">Free Disclaimer Generator</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title">Disclaimers for Tax Loss Harvesting Tool</h2>
                                        <p>All the information on this website - taxlossharvestingtool.com - is
                                            published in good faith and for general information purpose only. Tax Loss
                                            Harvesting Tool does not make any warranties about the completeness,
                                            reliability and accuracy of this information. Any action you take upon the
                                            information you find on this website (Tax Loss Harvesting Tool), is strictly
                                            at your own risk. Tax Loss Harvesting Tool will not be liable for any losses
                                            and/or damages in connection with the use of our website.</p>

                                        <p>From our website, you can visit other websites by following hyperlinks to
                                            such external sites. While we strive to provide only quality links to useful
                                            and ethical websites, we have no control over the content and nature of
                                            these sites. These links to other websites do not imply a recommendation for
                                            all the content found on these sites. Site owners and content may change
                                            without notice and may occur before we have the opportunity to remove a link
                                            which may have gone 'bad'.</p>

                                        <p>Please be also aware that when you leave our website, other sites may have
                                            different privacy policies and terms which are beyond our control. Please be
                                            sure to check the Privacy Policies of these sites as well as their "Terms of
                                            Service" before engaging in any business or uploading any information.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title">Consent</h2>
                                        <p>By using our website, you hereby consent to our disclaimer and agree to its
                                            terms.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title">Update</h2>
                                        <p>Should we update, amend or make any changes to this document, those changes
                                            will be prominently posted here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        {{ template "footer" }}
    </div>
</div>
</body>
</html>
