<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .AccountTicker }} Holdings, Overlaps</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            {{ with .Overlaps }}
            {{ range $leverage, $overlaps := . }}
            $('#test-row-{{ $leverage }}').css('cursor', 'pointer');
            $('#test-row-{{ $leverage }}').click(function () {
                $('html, body').animate({
                    scrollTop: $("#leverage-{{ $leverage }}").offset().top
                }, 1000);
                return false;
            });
            {{ end }}
            {{ end }}
        });
    </script>
    {{ template "includes" }}
    <meta name="description" content="Detailed summary of holdings, overlaps, leverage for ETFs {{ .AccountTicker }}">
</head>
<body>
<div>
    <div id="main-wrapper">
        {{/* Wrapper */}}
        {{ template "wrapper" $.TemplateCustomMetadata }}

        {{/* Main Content */}}
        <div class="content-body">
            <div class="main">
                <div class="container-fluid">
                    <h3>
                        Summary for {{ .AccountTicker }}
                    </h3>
                    <section id="holdings-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">

                                    <div class="col-lg-6">
                                        <div class="card gradient-1">
                                            <div class="card-body">
                                                <h3 class="card-title text-white">{{ .AccountTicker }}</h3>
                                                <div class="d-inline-block">
                                                    <h2 class="text-white"> {{ (index $.Holdings 0).LETFDescription }}</h2>
                                                    <p class="text-white mb-0"> Provider:
                                                        <b>{{ (index $.Holdings 0).Provider }}</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card gradient-1">
                                            <div class="card-body">
                                                <h3 class="card-title text-white">Number of Holdings</h3>
                                                <div class="d-inline-block">
                                                    <h2 class="text-white"> {{len .Holdings }}</h2>
                                                    <p class="text-white mb-0">As of Dec 2022</p>
                                                </div>
                                                <span class="float-right display-5 opacity-5"><i
                                                            class="fa fa-pie-chart"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {{ with .Overlaps }}
                                        {{ range $leverage, $overlaps := . }}
                                            <div class="col-lg-6" id="test-row-{{ $leverage }}">
                                                <div class="card gradient-2">
                                                    <div class="card-body">
                                                        <h3 class="card-title text-white">Top Match ({{ $leverage }}
                                                            Leverage)</h3>
                                                        <div class="d-inline-block">
                                                            <h2 class="text-white"> {{ renderETFsArray (index $overlaps 0).LETFHoldees }}
                                                                -
                                                                {{ (index $overlaps 0).OverlapPercentage }}% similar</h2>
                                                            <p class="text-white mb-0"> {{ len $overlaps }} other
                                                                matches</p>
                                                        </div>
                                                        <span class="float-right display-5 opacity-5"><i
                                                                    class="fa">{{ $leverage }}</i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {{ end }}
                                    {{ end }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h3>Holdings for <b>{{ .AccountTicker }}</b></h3>
                                        <div class="table-responsive">
                                            <table id="row-select-holdings"
                                                   class="table table-striped table-bordered holdings-ordering"
                                                   role="grid"
                                                   aria-describedby="row-select_info">
                                                <thead>
                                                <tr>
                                                    <th>Holding Stock Name</th>
                                                    <th>Ticker</th>
                                                    <th>Percentage Exposure in {{ .AccountTicker }}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{ with .Holdings }}
                                                    {{ range . }}
                                                        <tr>
                                                            <td>
                                                                <span class="rounded_border">{{ .StockDescription }}</span>
                                                            </td>
                                                            <td>
                                                                <button type="button"
                                                                        class="btn mb-1 btn-outline-success btn-sm"
                                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.StockSummary }}/{{ .StockTicker }}.html'">{{ .StockTicker }}</button>
                                                            </td>
                                                            <td>{{ renderPercentage .PercentContained }}</td>
                                                        </tr>
                                                    {{ end }}
                                                {{ end }}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>Holding Stock Name</th>
                                                    <th>Ticker</th>
                                                    <th>Percentage Exposure in {{ .AccountTicker }}</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                    </section>
                    <h2>Most Similar other ETFs</h2>
                    <section id="main-content">
                        {{ with .Overlaps }}
                            {{ range $leverage, $overlaps := . }}
                                <div class="row" id="leverage-{{ $leverage }}">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title">Leverage: <b>{{ $leverage }}</b></h3>
                                                <div class="table-responsive">
                                                    <table id="row-select-leverage-{{ $leverage }}"
                                                           class="table table-striped table-bordered similar-etfs-ordering"
                                                           role="grid"
                                                           aria-describedby="row-select_info">
                                                        <thead>
                                                        <tr>
                                                            <th>ETF Provider</th>
                                                            <th>ETF Name</th>
                                                            <th>ETF Ticker</th>
                                                            <th>Percentage Overlap Today</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {{ with $overlaps }}
                                                            {{ range .}}
                                                                <tr>
                                                                    <td>
                                                                        {{ range .LETFHoldees }}
                                                                            {{ (index $.AccountsMap .).Provider }}
                                                                        {{ end }}
                                                                    </td>
                                                                    <td>
                                                                        {{ range .LETFHoldees }}
                                                                            <button type="button"
                                                                                    class="btn mb-1 btn-outline-primary btn-sm"
                                                                                    onclick="location.href='{{ . }}.html'">{{ (index $.AccountsMap .).Description }}</button>
                                                                        {{ end }}
                                                                    </td>
                                                                    <td>
                                                                        {{ range .LETFHoldees }}
                                                                            <button type="button"
                                                                                    class="btn mb-1 btn-outline-primary btn-sm"
                                                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/{{ . }}.html'">{{ . }}</button>
                                                                        {{ end }}
                                                                    </td>
                                                                    <td>
                                                                        <a href="{{ $.TemplateCustomMetadata.WebsitePaths.Overlaps }}/{{ $.AccountTicker }}_{{$equipment := .LETFHoldees}}{{ range $index, $element := .LETFHoldees}}{{if $index}}_{{end}}{{$element}}{{end}}.html">
                                                                            {{ renderPercentage .OverlapPercentage }}
                                                                            <span>&#8594;</span></a>
                                                                    </td>
                                                                </tr>

                                                            {{ end }}
                                                        {{ end }}
                                                        </tbody>
                                                        <tfoot>
                                                        <tr>
                                                            <th>ETF Provider</th>
                                                            <th>ETF Name</th>
                                                            <th>ETF Ticker</th>
                                                            <th>Percentage Overlap Today</th>
                                                        </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{ end }}
                        {{ end }}
                    </section>
                </div>
            </div>
        </div>

        {{ template "footer" }}
    </div>
</div>
</body>
</html>