<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to ETFs Data Validator</title>
    {{ template "includes" }}
</head>
<body>
<div>
    {{/* Side bar */}}
    {{ template "sidebar" }}
    {{/* Header */}}
    {{ template "header" }}
    {{/* Main Content */}}
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <section id="list-all-metadata">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h2>Abstract!</h2>
                                </div>
                                <div class="card-body">
                                    The goal of this project is to simplify ETF exploration. Just a fun project in spare
                                    time. Please
                                    use this tool at your own risk! No guarantees.<br/>
                                    We found <b>{{ .TotalProvider }} </b> providers, <b>{{ .TotalSeeds }}</b> seeds,
                                    <b>{{ .TotalStockTickers }}</b> stocks
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {{ with .Providers }}
                    {{ range $key, $value := . }}
                        <section id="list-all-etfs-provider-{{ $key }}">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-title">
                                            <h4><small>Provider: </small>{{ $key }}</h4>
                                            <h5>{{len $value.ETFTickers }}<small> ETFs</small></h5>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-inline">
                                                {{ range $ticker := $value.ETFTickers }}
                                                    <li class="list-inline-item"><a
                                                                href="{{ $.WebsitePaths.LETFSummary }}/{{ $ticker }}.html">{{ $ticker }}</a>
                                                    </li>
                                                {{ end }}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    {{ end }}
                {{ end }}

                <section id="all_etfs_footer">
                    {{ template "footer" }}
                </section>
            </div>
        </div>
    </div>
</div>
</body>
</html>