<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tax Loss Harvesting Tool | List All ETFs</title>
    {{ template "includes" }}
</head>
<body>
<div>
    <div id="main-wrapper">
        {{/* Wrapper */}}
        {{ template "wrapper" $.TemplateCustomMetadata }}

        {{/* Main Content */}}
        <div class="content-body">
            <div class="main">
                <div class="container-fluid">
                    <section id="list-all-metadata">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-title">
                                        <h2>Abstract!</h2>
                                    </div>
                                    <div class="card-body">
                                        The goal of this project is to simplify ETF exploration. Just a fun project in
                                        spare time. Please use this tool at your own risk! No guarantees.<br/>
                                        We found <b>{{ .TotalProvider }} </b> providers, <b>{{ .TotalSeeds }}</b> seeds,
                                        <b>{{ .TotalStockTickers }}</b> stocks
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="list-all-etfs-provider-row">
                        <div class="row">
                            {{ with .Providers }}
                                {{ range $key, $value := . }}
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4><small>Provider: </small>{{ $key }}</h4>
                                                <h5>{{len $value.ETFTickers }}<small> ETFs</small></h5>
                                                {{ range $ticker := $value.ETFTickers }}
                                                    <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                            onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/{{ $ticker }}.html'">{{ $ticker }}</button>
                                                {{ end }}
                                            </div>
                                        </div>
                                    </div>
                                {{ end }}
                            {{ end }}
                        </div>
                    </section>
                </div>
            </div>
        </div>
        {{ template "footer" }}
    </div>
</div>
</body>
</html>