<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to LETFs Data Validator</title>
    {{ template "includes" }}
</head>
<body>
<div>
    <div id="main-wrapper">

        {{/* Wrapper */}}
        {{ template "wrapper" $.TemplateCustomMetadata }}

        {{/* Main Content */}}
        <div class="content-body">
            <div class="main">
                <div class="container-fluid">
                    <h1 id="use-cases">Use Cases</h1>
                    <section>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title">Tax Loss Harvesting</h2>
                                        <p class="card-text">Can I harvest my current losses in
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/TECL.html'">
                                                TECL
                                            </button>
                                            without losing exposure and triggering wash sales? Yes, you can!
                                        </p>
                                        <p class="card-text">1
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/TECL.html'">
                                                TECL
                                            </button>
                                            = 1
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/UPRO.html'">
                                                UPRO
                                            </button>
                                            + 1
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/TQQQ.html'">
                                                TQQQ
                                            </button>
                                            (<a href="{{ $.TemplateCustomMetadata.WebsitePaths.Overlaps }}/TECL_UPRO_TQQQ.html"><code class="font-weight-bold">72.53%</code>
                                                combined overlap</a>)!
                                        </p>
                                        <h4 id="solve-how-many-shares-you-need-to-swap-with">Solve how many shares you
                                            need to swap with</h4>
                                        <p class="card-text"><button type="button" class="btn mb-1 btn-outline-warning btn-sm">Number of shares of TECL owned</button> * <button type="button" class="btn mb-1 btn-outline-primary btn-sm">Price of TECL share</button> =
                                            <button type="button" class="btn mb-1 btn-danger btn-sm">X</button> * <button type="button" class="btn mb-1 btn-outline-primary btn-sm">Price of UPRO share</button> + <button type="button" class="btn mb-1 btn-danger btn-sm">X</button> * <button type="button" class="btn mb-1 btn-outline-primary btn-sm">Price of TQQQ share</button>.</p>
                                        <p class="card-text">Solve for <button type="button" class="btn mb-1 btn-danger btn-sm">X</button>!</p>
                                        <p class="card-text">On July 27th, 2020,</p>
                                        <ul>
                                            <li>
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/TECL.html'">
                                                    TECL
                                                </button>
                                                is at $36.40
                                            </li>
                                            <li>
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/UPRO.html'">
                                                    UPRO
                                                </button>
                                                is at $41.39
                                            </li>
                                            <li>
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/TQQQ.html'">
                                                    TQQQ
                                                </button>
                                                is at $30.74
                                            </li>
                                            <li>I own 1385 shares, whose average purchase price is $50.00</li>
                                        </ul>
                                        <p class="card-text">Substituting we get </p>
                                        <p class="card-text"><button type="button" class="btn mb-1 btn-outline-primary btn-sm">36.40 * 1385 / (41.39 + 30.74) </button> ~= 699 = <button type="button" class="btn mb-1 btn-danger btn-sm">X</button>!</p>
                                        <h5 id="harvested-loss">Harvested Loss</h5>
                                        <p class="card-text">While keeping approximately 73% of the same exposure, you&#39;ve
                                            captured
                                            approximately <button type="button" class="btn mb-1 btn-success btn-sm">18,836$</button> worth of tax losses
                                            which are not eligible for Wash Sale (assuming no more transactions on
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/TECL.html'">
                                                TECL
                                            </button>
                                            )
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title">Tax Loss Harvesting</h2>
                                        <h3 id="example-2">Example 2</h3>
                                        <p class="card-text">Sold 800
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/FNGU.html'">
                                                FNGU
                                            </button>
                                            at $9.45,
                                        </p>
                                        <p class="card-text">
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/BULZ.html'">
                                                BULZ
                                            </button>
                                            is at $5.31 and
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/TQQQ.html'">
                                                TQQQ
                                            </button>
                                            is at $30.74
                                        </p>
                                        <p class="card-text"><button type="button" class="btn mb-1 btn-outline-primary btn-sm">800 * 9.45 / (5.31 + 30.74)</button> ~= 210</p>
                                        <p class="card-text">So buy 210
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/BULZ.html'">
                                                BULZ
                                            </button>
                                            and 210
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/TQQQ.html'">
                                                TQQQ
                                            </button>
                                            shares
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title">Tax Loss Harvesting</h2>
                                        <h3 id="example-2">Example 2</h3>
                                        <p class="card-text">Sold 800
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/FNGU.html'">
                                                FNGU
                                            </button>
                                            at $9.45,
                                        </p>
                                        <p class="card-text">
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/BULZ.html'">
                                                BULZ
                                            </button>
                                            is at $5.31 and
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/TQQQ.html'">
                                                TQQQ
                                            </button>
                                            is at $30.74
                                        </p>
                                        <p class="card-text"><button type="button" class="btn mb-1 btn-outline-primary btn-sm">800 * 9.45 / (5.31 + 30.74)</button> ~= 210</p>
                                        <p class="card-text">So buy 210
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/BULZ.html'">
                                                BULZ
                                            </button>
                                            and 210
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/TQQQ.html'">
                                                TQQQ
                                            </button>
                                            shares
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h1 class="card-title">Future Tax Optimization</h1>
                                        Investors buying an ETF or a stock is an expectation that the underlying investment will go up in the future. But what if the downturn continues? Would you like to be prepared for such scenarios?
                                        Here is how you can do it. Let's say you want to invest in SPY. You know if it goes down you have other ETFs that you can swap into for future tax loss harvesting.
                                        <p class="card-text">Example: I own
                                            <button type="button" class="btn mb-1 btn-outline-success btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.StockSummary }}/SNDL.html'">
                                                SNDL
                                            </button>
                                            ,
                                            <button type="button" class="btn mb-1 btn-outline-success btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.StockSummary }}/TLRY.html'">
                                                TLRY
                                            </button>
                                            ,
                                            {{ template "stock" "CRON" }}
                                            . Can I replace the three holdings with an ETF? Yes.
                                            <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                    onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/POTX.html'">
                                                POTX
                                            </button>
                                            has ~ 30% exposure to these stocks + other weed stocks :)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h1 class="card-title">Consolidation</h1>
                                        Consolidation of positions is a strategy that can be used to simplify the management of a portfolio.
                                        It involves combining multiple investments into one, reducing the complexity of the portfolio and allowing it to be more easily managed.
                                        For example, if an investor holds a variety of ETFs, stocks, and other investments, they can consolidate those positions into a single ETF such as SPY, which contains all the same investments.
                                        This allows the investor to manage their portfolio with less effort, while still maintaining exposure to the same assets.
                                        For example, an investor who holds {{ template "stock" "AMZN" }}, {{ template "stock" "META" }},
                                        {{ template "stock" "MSFT" }}, and {{template "stock" "AAPL" }} can consolidate those positions into the SPY ETF, which contains all of those stocks. Consolidation of positions can be a
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h1 class="card-title">Themefication</h1>
                                        Stocks and ETFs are a popular way to invest in the stock market, allowing investors to diversify their investments and benefit from potential returns. One way to categorize stocks is through themefication.
                                        This means that stocks can be grouped according to their characteristics, such as sector, size, or style.
                                        For example, {{template "stock" "SNDL" }}, {{template "stock" "CRON" }} and {{template "stock" "TLRY" }} are all in the cannabis industry, while
                                        {{template "etf" "POTX" }} is an ETF that tracks the performance of the cannabis sector. By themefying stocks, investors can identify and invest in companies that have similar characteristics and could potentially provide higher returns. Additionally, themefication can also help investors identify potential risks associated with a particular sector or industry. Overall, themefication can be a useful tool
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="row">
                        <div class="col-12 m-b-30">
                            <h4 class="d-inline">Play with Leverage</h4>
                            <p>There is no reward without risk</p>


                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <div class="card">
                                        <img class="img-fluid" src="static/images/leverage_up.jpg"
                                             style="max-height: 700px" alt="">
                                        <div class="card-body">
                                            <h2 class="card-title">Increase Leverage!</h2>
                                            <p class="card-text">Leveraging up is a strategy that can be used by investors who are confident in the market and want to generate more wealth.</p>
                                            <p class="card-text">I own 100 shares of
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/SPY.html'">
                                                    SPY
                                                </button>
                                                , and I
                                                believe that
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/SPY.html'">
                                                    SPY
                                                </button>
                                                is going to
                                                increase. Let me dial up the leverage to 2x by adopting
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/QLD.html'">
                                                    QLD
                                                </button>
                                                and
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/SSO.html'">
                                                    SSO
                                                </button>
                                                .
                                            </p>
                                            <p class="card-text">On July 26th, 2022: </p>
                                            <ul>
                                                <li>
                                                    <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                            onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/SPY.html'">
                                                        SPY
                                                    </button>
                                                    is at $390.90
                                                </li>
                                                <li>
                                                    <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                            onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/QLD.html'">
                                                        QLD
                                                    </button>
                                                    is at $45.39
                                                </li>
                                                <li>
                                                    <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                            onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/SSO.html'">
                                                        SSO
                                                    </button>
                                                    is at $48.
                                                </li>
                                            </ul>
                                            <p class="card-text">100 * 390 = X * 45.39 + X * 48</p>
                                            <p class="card-text">X ~= 417. So you buy 417 shares of
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/QLD.html'">
                                                    QLD
                                                </button>
                                                and 417 shares of
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/SSO.html'">
                                                    SSO
                                                </button>
                                                .
                                            </p>
                                        </div>
                                        <div class="card-footer text-center text-muted">
                                            Leveraged ETFs can lead to significant losses that exceed the underlying index. Please talk with your financial advisor before enforcing strategy.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h2 class="card-title">Reverse Leverage!</h2>
                                            TO BE FILLED IN
                                            <p class="card-text">Reduce leverage from
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/SOXL.html'">
                                                    SOXL
                                                </button>
                                                to
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/USD.html'">
                                                    USD
                                                </button>
                                                but still
                                                maintain exposure to <a
                                                        href="/{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/{{ $.TemplateCustomMetadata.WebsitePaths.Overlaps }}/SOXL_USD.html">75%</a>
                                                of
                                                underlying stocks
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h2 class="card-title">Decrease Leverage!</h2>
                                            <p class="card-text">Reduce leverage from
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/SOXL.html'">
                                                    SOXL
                                                </button>
                                                to
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                                                        onclick="location.href='{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/USD.html'">
                                                    USD
                                                </button>
                                                but still
                                                maintain exposure to <a
                                                        href="/{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/{{ $.TemplateCustomMetadata.WebsitePaths.Overlaps }}/SOXL_USD.html">75%</a>
                                                of
                                                underlying stocks
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ template "footer" }}
    </div>
</div>
</body>
</html>
