<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to LETFs Data Validator</title>
    {{ template "includes" }}
</head>
<body>
<div>
    <div id="main-wrapper">

        {{/* Wrapper */}}
        {{ template "wrapper" $.TemplateCustomMetadata }}

        {{/* Main Content */}}
        <div class="content-body">
            <div class="main">
                <div class="container-fluid">
                    <h1 id="use-cases">Use Cases</h1>
                    <section id="tax_loss_harvesting">
                        <div class="row">
                            <div class="col-12 m-b-30">
                                <h4 class="d-inline">Harvest Capital Losses for offsetting Taxes</h4>
                                <p>Trying to time the market is difficult, but preparing for a downturn is much simpler</p>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="text-muted"> Investing in the stock market can be a great way to build wealth, but it can also be a source of financial stress.
                                                If you’ve ever had to sell stocks at a loss, you know that it’s not a pleasant experience.
                                                But did you know that it’s possible to actually use those losses to your advantage?
                                                Harvesting capital losses is a powerful tool that savvy investors use to reduce their tax burden and maximize their returns.
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="card">
                                            <img class="img-fluid" src="static/images/taxes.jpg"
                                                 style="max-height: 700px" alt="Want to cut your Tax Bill With Tax Loss Harvesting? Let's get started!">
                                            <div class="card-body">
                                                <h2 class="card-title">Tax Loss Harvesting</h2>
                                                <blockquote>Is it possible to harvest the current losses I have in {{template "etf" "TECL"}} without exposing myself to wash sales and losing exposure?</blockquote>

                                                <p class="font-weight-bold text-primary">Yes, you can!</p>
                                                With the help of our tool, you can discover that there are numerous ETFs that overlap with {{template "etf" "TECL"}}, ranging from 1% to 87% (overlap dictates similarity between two assets).
                                                In light of the fact that TECL is a 3x leveraged ETF, investors are likely to be looking for 3x leveraged ETFs to replace it with.
                                                Having overlaps broken down by leverage further helps rationalize the whole process.
                                                <br/><br/>
                                                {{template "etf" "TQQQ"}} was the ETF with the highest amount of overlap; each have the same holdings on their portfolios, hence resulting in a 47% overlap.
                                                The next best ETF was {{template "etf" "UPRO"}} with 27% overlap. If both of them were juxtaposed, the combined overlap would be around 70%!
                                                <br/><br/>
                                                You may find that you can sell all your stakes in TECL on the same day that you buy TQQQ and UPRO. The difference between these two stocks is that they are not identical, so there is no wash sale, and thus harvested losses are available to offset current tax obligations immediately.
                                                <br/><br/>
                                                <h4>Great! But how much should I buy?</h4>
                                                Let's take a hypothetical end of the day price of the assets as following
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                        <tr class="bg-info-lighten-2">
                                                            <th>Current Investments</th>
                                                            <th>Target Investments</th>
                                                        </tr>
                                                        </thead>
                                                        <tr>
                                                            <td rowspan="2">
                                                                {{template "etf" "TECL"}} is at <span
                                                                        class="text-warning">$36.40</span>
                                                            </td>
                                                            <td>
                                                                {{template "etf" "UPRO"}} is at <span
                                                                        class="text-warning">$41.39</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                {{template "etf" "TQQQ"}} is at <span
                                                                        class="text-warning">$30.74</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm">Number
                                                    of
                                                    shares of TECL owned
                                                </button>
                                                *
                                                <button type="button" class="btn mb-1 btn-outline-warning btn-sm">Price
                                                    of
                                                    TECL share
                                                </button>
                                                =
                                                <button type="button" class="btn mb-1 btn-danger btn-sm">X</button>
                                                *
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm">Price
                                                    of
                                                    UPRO share
                                                </button>
                                                +
                                                <button type="button" class="btn mb-1 btn-danger btn-sm">X</button>
                                                *
                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm">Price
                                                    of
                                                    TQQQ share
                                                </button>
                                                .
                                                <br/> <br/>
                                                Substituting we get
                                                <button type="button" class="btn mb-1 btn-danger btn-sm">X</button> ~= 700!
                                                <hr/>
                                                <h4 id="harvested-loss">Harvested Capital Losses</h4>
                                                In this example, you would have harvested all your capital losses while retaining 70% of the same exposure.
                                                As far as you do not transact further on TECL for the span of a month, the wash sale would not be triggered allowing you to be able to fully utilize your losses in this example
                                            </div>
                                        </div>
                                    </div>
{{/*                                    <div class="col-md-6 col-lg-4">*/}}
{{/*                                        <div class="card">*/}}
{{/*                                            <img class="img-fluid" src="static/images/taxes_2.jpg"*/}}
{{/*                                                 style="max-height: 700px" alt="">*/}}
{{/*                                            <div class="card-body">*/}}
{{/*                                                <h2 class="card-title">Tax Loss Harvesting</h2>*/}}
{{/*                                                <h3 id="example-2">Example 2</h3>*/}}
{{/*                                                Sold 800 {{template "etf" "FNGU"}} at $9.45,*/}}
{{/*                                                {{template "etf" "BULZ"}} is at $5.31 and {{template "etf" "TQQQ"}}*/}}
{{/*                                                is at $30.74*/}}
{{/*                                                <button type="button" class="btn mb-1 btn-outline-primary btn-sm">*/}}
{{/*                                                    800 * 9.45*/}}
{{/*                                                    / (5.31 + 30.74)*/}}
{{/*                                                </button>*/}}
{{/*                                                ~= 210*/}}
{{/*                                                So buy 210 {{template "etf" "BULZ"}} and 210 {{template "etf" "TQQQ"}} shares*/}}
{{/*                                            </div>*/}}
{{/*                                        </div>*/}}
{{/*                                    </div>*/}}
                                    <div class="col-md-6 col-lg-6">
                                        <div class="card">
                                            <img class="img-fluid" src="static/images/future_taxes.jpg"
                                                 style="max-height: 700px" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">Future Tax Optimization</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">Preparing for the
                                                    unprepared</h6>
                                                <div class="card-text">
                                                    It is normal for investors to anticipate that the value of an ETF or
                                                    stock will increase in the future.
                                                    But what if the downturn continues? Having other ETFs that you can
                                                    swap into for future tax loss harvesting would be useful.
                                                </div>
                                                <hr>
                                                <h4 class="card-title">Example: VXUS</h4>
                                                <div class="card-text">
                                                    As an example, let us imagine that you are considering investing
                                                    in {{template "etf" "VXUS" }}.
                                                    To find out more information about the ETF, you can use our tool to
                                                    view its details. Upon review, it is evident that
                                                    {{template "etf" "VEU" }} ETF is a potential swap candidate within
                                                    the same leverage bracket, with an 85% overlap.
                                                    In a downturn, investors will be able to harvest tax losses by
                                                    swapping their stake in {{template "etf" "VXUS"}}
                                                    with {{template "etf" "VEU"}}, all
                                                    while without losing similar exposure.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="leverage">
                        <div class="row">
                            <div class="col-12 m-b-30">
                                <h4 class="d-inline">Play with Leverage</h4>
                                <p>There is no reward without risk</p>
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="card">
                                            <img class="img-fluid" src="static/images/leverage_up.jpg"
                                                 style="max-height: 700px" alt="">
                                            <div class="card-body">
                                                <h2 class="card-title">Increase Leverage!</h2>
                                                <div class="card-text">
                                                    Leveraging up is a strategy that can be used by investors who are
                                                    confident in the market and higher risk-reward investment vehicles.
                                                    <hr>
                                                    Let's imagine a scenario where an investor owns 100 shares of {{template "etf" "SPY"}} and thinks that SPY will rise in value.
                                                    The investor is extremely positive and ready to accept greater risk in exchange for greater gain.
                                                    By using {{ template "etf" "QLD"}} and {{template "etf" "SSO"}}, he may increase leverage in this situation to 2x.
                                                    Let's see how the maths behind it would work. If on a particular day the following are the prices of the investments: <br>
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                            <tr class="bg-info-lighten-2">
                                                                <th>Current Investments</th>
                                                                <th>Target Investments</th>
                                                            </tr>
                                                            </thead>
                                                            <tr>
                                                                <td rowspan="2">
                                                                    {{template "etf" "SPY"}} is at <span class="text-warning">$390.90</span>
                                                                </td>
                                                                <td>
                                                                    {{template "etf" "QLD"}} is at <span class="text-warning">$45.39</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    {{template "etf" "SSO"}} is at <span class="text-warning">$48</span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    100 * 390 = X * 45.39 + X * 48
                                                    X ~= 417. So you buy 417 shares of
                                                    {{ template "etf" "QLD" }} and 417 shares
                                                    of {{ template "etf" "SSO" }}.
                                                </div>
                                                <div class="line"></div>
                                            </div>
                                            <div class="card-footer text-center text-muted">
                                                Leveraged ETFs can lead to significant losses that exceed the underlying
                                                index as described in our <a href="faq.html">FAQs</a>. Please talk with
                                                your financial advisor before executing strategy.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="card">
                                            <img class="img-fluid" src="static/images/leverage_reverse.jpg"
                                                 style="max-height: 700px" alt="">
                                            <div class="card-body">
                                                <h2 class="card-title">Reverse Leverage!</h2>
                                                <div class="card-text">
                                                    In order for an investor to respond to changes in economic
                                                    conditions in a fast-paced manner, an inverse ETF may be an
                                                    alternative to a normal ETF.
                                                    Our preprocessing of different ETFs creates a comprehensive mapping
                                                    of how these ETFs are interconnected.
                                                    Using our tool, investors can easily find these Inverse ETFs and use
                                                    them to make their research more effective.
                                                    <hr>
                                                    For example, an investor might be interested in learning about
                                                    Inverse ETFs for
                                                    {{template "etf" "FAS"}}. In the ETF details page, it would be
                                                    evident that
                                                    {{template "etf" "FAZ"}} is the inverse.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="card">
                                            <img class="img-fluid" src="static/images/leverage_decrease.jpg"
                                                 style="max-height: 700px" alt="">
                                            <div class="card-body">
                                                <h2 class="card-title">Decrease Leverage!</h2>
                                                <div class="card-text">
                                                    Leveraged ETF investors would prefer more precise control over the
                                                    amount of leverage they use. When they achieve their objectives, it
                                                    might be time to reduce the leverage in exchange for a reduced risk
                                                    premium.
                                                    <hr>
                                                    In a hypothetical scenario, if an investor used the 3x leverage ETF
                                                    {{template "etf" "SOXL"}} to attain their aim objective, they can
                                                    reduce the leverage to 2x by exchanging with
                                                    {{template "etf" "USD"}}, which has a 2x leverage and a 70% overlap,
                                                    or with {{template "etf" "SOXX"}}, which has a 1x leverage and a 97%
                                                    overlap.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="other">
                        <div class="row">
                            <div class="col-12 m-b-30">
                                <h4 class="d-inline">Other</h4>
                                <p></p>
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="card">
                                            <img class="img-fluid" src="static/images/consolidation.jpg"
                                                 style="max-height: 700px" alt="">
                                            <div class="card-body">
                                                <h1 class="card-title">Consolidation</h1>
                                                Consolidation of positions is a strategy that can be used to simplify
                                                the
                                                management of a portfolio.
                                                It involves combining multiple investments into one, reducing the
                                                complexity of
                                                the portfolio and allowing it to be more easily managed.
                                                For example, if an investor holds a variety of ETFs, stocks, and other
                                                investments, they can consolidate those positions into a single ETF such
                                                as SPY,
                                                which contains all the same investments.
                                                This allows the investor to manage their portfolio with less effort,
                                                while still
                                                maintaining exposure to the same assets.
                                                <hr>
                                                For example, an investor who holds {{ template "stock" "AMZN" }}
                                                , {{ template "stock" "META" }},
                                                {{ template "stock" "MSFT" }}, and {{template "stock" "AAPL" }} can
                                                consolidate
                                                those positions into the {{template "etf" "XLK"}} ETF, which contains
                                                all of
                                                those stocks with 50+ percent exposure
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="card">
                                            <img class="img-fluid" src="static/images/themefication.jpg"
                                                 style="max-height: 700px" alt="">
                                            <div class="card-body">
                                                <h1 class="card-title">Themefication</h1>
                                                Stocks and ETFs are a popular way to invest in the stock market,
                                                allowing
                                                investors to diversify their investments and benefit from potential
                                                returns. One
                                                way to categorize stocks is through themefication.
                                                This means that stocks can be grouped according to their
                                                characteristics, such
                                                as sector, size, or style.
                                                For example, {{template "stock" "SNDL" }}, {{template "stock" "CRON" }}
                                                and {{template "stock" "TLRY" }} are all in the cannabis industry, while
                                                {{template "etf" "POTX" }} is an ETF that tracks the performance of the
                                                cannabis
                                                sector. By themefying stocks, investors can identify and invest in
                                                companies
                                                that have similar characteristics and could potentially provide higher
                                                returns.
                                                Additionally, themefication can also help investors identify potential
                                                risks
                                                associated with a particular sector or industry. Overall, themefication
                                                can be a
                                                useful tool
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        {{ template "footer" }}
    </div>
</div>
</body>
</html>
