<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to ETFs Data Validator</title>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            margin: 50px auto;
        }

        h1 {
            text-align: center;
            padding: 16px;
            margin-bottom: 16px
        }

        h2 {
            text-align: center;
            padding: 12px;
            margin-bottom: 12px
        }

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

        #bottom {
            background-color: #04AA6D;
            padding: 50px;
            margin-top: 200px;
        }

        #bottom_table {
            color: white;
        }

        #bottom_table > tr:hover {
            background-color: #04AA6D;
        }

        a:link {
            text-decoration: none;
            color: inherit;
        }

        a:visited {
            text-decoration: none;
            color: inherit;
        }

        a:hover {
            text-decoration: none;
            color: inherit;
        }

        a:active {
            text-decoration: none;
            color: inherit;
        }

        .rounded_border {
            padding: 2px 2px;
            margin: 2px 5px;
            background-repeat: no-repeat;
            background-position: 10px center;
            border-radius: 3px;
            /*display: block;*/
            border: 1px solid #4f4f4f;
        }

        .etf_ticker {
            color: #166f9e;
            background-color: #bcbcbc;
            line-height: 30px
        }
    </style>
</head>
<body>
<h1>Abstract</h1>
<p>
    The goal of this project is to simplify ETF exploration. Just a fun project in spare time. Please use this tool at
    your own risk! No guarantees.<br/>
    We found {{ .TotalProvider }} providers, {{ .TotalSeeds }} seeds, {{ .TotalStockTickers }} stocks
</p>
<table>
    <tr>
        <th>Provider</th>
        <th>Count</th>
        <th>ETFs</th>
    </tr>
    {{ with .Providers }}
        {{ range $key, $value := . }}
            <tr>
                <td>{{ $key }}</td>
                <td>{{len $value.ETFTickers }}</td>
                <td>
                    {{ range $ticker := $value.ETFTickers }}
                        <span class="etf_ticker rounded_border"><a
                                    href="{{ $.WebsitePaths.LETFSummary }}/{{ $ticker }}.html">{{ $ticker }}</a></span>
                    {{ end }}
                </td>
            </tr>
        {{ end }}
    {{ end }}
</table>
<table>
    <tr>
        <th>Group</th>
        <th>Found Stocks</th>
    </tr>
    {{ with .Stocks }}
        {{ range $group, $value := . }}
            <tr>
                <td>{{ $group }}</td>
                <td>
                    {{ range $ticker := $value }}
                        <span class="rounded_border etf_ticker"><a
                                    href="{{ $.WebsitePaths.StockSummary }}/{{ $ticker }}.html">{{ $ticker }}</a></span>
                    {{ end }}
                </td>
            </tr>
        {{ end }}
    {{ end }}
</table>
<div id="bottom">
    <table id="bottom_table">
        <tr>
            <td>
                Powered by GitHub
            </td>
            <td>
                Powered by GCP
            </td>
            <td>
                Please file issues, features <a href="https://github.com/ravivooda/stocks/issues/new/choose">here</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>