{{ define "header" }}
    <!--**********************************
            Header start
        ***********************************-->
    <div class="header">
        <div class="header-content clearfix">
            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>
            <div class="header-left">
                <div class="input-group icons">
                    <script src="/static/js/autocomplete.js">
                    </script>
{{/*                    <div class="input-group-prepend">*/}}
{{/*                        <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>*/}}
{{/*                    </div>*/}}
                    <input type="search" class="form-control" placeholder="Search Ticker" aria-label="Search Ticker" id="search_input">
                    <div class="drop-down animated flipInX d-md-none">
                        <form action="#">
                            <label for="search_input" hidden="hidden"></label>
                            <input type="text" class="form-control" placeholder="Search" id="search_input">
                        </form>
                    </div>
                    <style>
                        @media (max-width: 767px) {
                            .header-left input[type="search"] {
                                position: relative !important;
                                top: unset !important;
                                max-width: 150px;
                            }
                        }

                        /*the container must be positioned relative:*/
                        .autocomplete {
                            position: relative;
                            display: inline-block;
                        }

                        .autocomplete-items {
                            position: absolute;
                            border: 1px solid #d4d4d4;
                            border-bottom: none;
                            border-top: none;
                            z-index: 99;
                            /*position the autocomplete items to be the same width as the container:*/
                            top: 100%;
                            left: 0;
                            right: 0;
                        }

                        .autocomplete-items div {
                            padding: 5px;
                            cursor: pointer;
                            background-color: #fff;
                            border-bottom: 1px solid #d4d4d4;
                        }

                        /*when hovering an item:*/
                        .autocomplete-items div:hover {
                            background-color: #e9e9e9;
                        }

                        /*when navigating through the items using the arrow keys:*/
                        .autocomplete-active {
                            background-color: DodgerBlue !important;
                            color: #ffffff;
                        }
                    </style>
                    <script>
                        autocomplete(document.getElementById("search_input"), [])
                    </script>
                </div>
            </div>
            <div class="header-right">
                <ul class="clearfix">
                    <li class="icons dropdown">
                        <div class="btn-group">
                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-dark dropdown-toggle"
                                    type="button">Tools <span class="caret m-l-5"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a href="/find_overlaps.html" class="dropdown-item">Optimize Your Portfolio</a>
                                <a href="javascript: shareURL()" class="dropdown-item">Share</a>
                                <script>
                                    function shareURL() {
                                        const shareData = {
                                            title: window.text,
                                            text: 'Invest in stock? Optimize taxes by harvesting losses.',
                                            url: window.location,
                                        }
                                        try {
                                            navigator.share(shareData);
                                        } catch (err) {
                                            console.log("error occurred when sharing:")
                                            console.log(err)
                                        }
                                    }

                                </script>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->
{{ end }}