{{ define "header" }}
    <!--**********************************
            Header start
        ***********************************-->
    <div class="header">
        <div class="header-content clearfix">
            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>
            <div class="header-right">
                <ul class="clearfix">
                    <li class="icons dropdown">
                        <div class="btn-group">
                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-dark dropdown-toggle"
                                    type="button">Tools <span class="caret m-l-5"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a href="/find_overlaps.html" class="dropdown-item">Optimize Your Portfolio</a>
                                <a href="javascript: void(0);" class="dropdown-item">Share</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->
{{ end }}