{{ define "linear_security_chart" }}
    <!-- Line Chart -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ .Ticker }} Stock Price</h4>
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="application/javascript">
        //line chart
        let ctx = document.getElementById("lineChart");
        ctx.height = 200;

        let myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{{ range $i, $d := .LinearDailyData }}"{{$d.Date}}",{{ end }}],
                datasets: [{
                    label: 'Stock Price',
                    data: [{{ range $i, $d := .LinearDailyData }}"{{$d.DailyPrice}}",{{ end }}],
                    borderColor: 'rgb(75, 192, 192)',
                    spanGaps: true,
                    fill: {
                        above: 'rgba(146,252,109,0.5)',
                        below: 'rgba(250,122,122,0.5)',
                        target: {value: {{ (index .LinearDailyData 0).DailyPrice }}}
                    }
                }]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                    position: 'nearest',
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                            maxRotation: 90,
                            minRotation: 90
                        }
                    }]
                }
            }
        });
    </script>
{{ end }}