{{ define "linear_security_chart" }}
    <!-- Line Chart -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Portfolio Performance</h4>
            <canvas id="lineChart"></canvas>
        </div>
        <div class="card-footer">
            <div class="card-group">
                <div class="card bg-info-lighten-2">
                    <div class="stat-widget-one">
                        <div class="stat-content">
                            <div class="stat-text">If you've invested</div>
                            <div class="stat-digit">
                                <i class="fa fa-usd"></i>{{ .TaxLossCalculationData.Begin.DailyPrice}}
                            </div>
                            <div class="stat-text">on {{renderDate .TaxLossCalculationData.Begin.Date}}</div>
                        </div>
                    </div>
                </div>
                <div class="card {{if .TaxLossCalculationData.IsHarvestable}} bg-warning-lighten-2 {{ else}} bg-success-rgba1 {{ end}}">
                    <div class="stat-widget-one">
                        <div class="stat-content">
                            <div class="stat-text">It would be</div>
                            <div class="stat-digit {{if .TaxLossCalculationData.IsHarvestable}} gradient-loss-text {{ else}} gradient-profit-text {{ end}}">
                                <i class="fa fa-usd"></i>{{ .TaxLossCalculationData.Today.DailyPrice}}
                            </div>
                            <div class="stat-text">today</div>
                        </div>
                    </div>
                </div>
                <div class="card bg-success-lighten-2">
                    <div class="stat-widget-one">
                        <div class="stat-content">
                            {{if .TaxLossCalculationData.IsHarvestable}}
                                <div class="stat-text">You could harvest</div>
                            {{ else}}
                                <div class="stat-text">Your gains are</div>
                            {{ end}}

                            <div class="stat-digit gradient-price-text">
                                <i class="fa fa-usd"></i>{{ .TaxLossCalculationData.ChangePrice}}
                            </div>
                            {{if .TaxLossCalculationData.IsHarvestable}}
                                <div class="stat-text">
                                    by swapping with
                                    {{ range .TaxLossCalculationData.Swappables }}
                                        {{ template "etf" . }}
                                    {{ end }}
                                </div>
                                    {{else}}
                                <div class="stat-text">Congratulations!</div>
                            {{end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="application/javascript">
        //line chart
        let ctx = document.getElementById("lineChart");
        (function (){
            let ctx = document.getElementById("lineChart");
            if (screen.width < 1000) {
                ctx.height = 300;
            } else if (screen.width < 2000) {
                ctx.height = 200;
            } else {
                ctx.height = 100;
            }
        })();
        let myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{{ range $i, $d := .LinearDailyData }}"{{$d.Date}}",{{ end }}],
                datasets: [{
                    label: '{{ .Ticker }} Stock Price',
                    data: [{{ range $i, $d := .LinearDailyData }}"{{$d.DailyPrice}}",{{ end }}],
                    borderColor: 'rgb(75, 192, 192)',
                    spanGaps: true,
                    fill: {
                        above: 'rgba(146,252,109,0.5)',
                        below: 'rgba(250,122,122,0.5)',
                        target: {value: {{ (index .LinearDailyData 0).DailyPrice }}}
                    }
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                    position: 'nearest',
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                            maxRotation: 90,
                            minRotation: 90
                        }
                    }],
                }
            },
            onResize: function(myChart, size) {
                let showTicks = (size.height >= 1000);

                myChart.options = {
                    scales: {
                        x: {
                            display: false,
                        },
                        xAxes: [{
                            ticks: {
                                display: showTicks
                            }
                        }]
                    }
                };
            }
        });
    </script>
{{ end }}