{{ define "nav_header" }}
    <!--**********************************
            Nav header start
        ***********************************-->
    <div class="nav-header">
        <div class="brand-logo">
            <a href="/" style="padding: 2px">
                <b class="logo-abbr"><img src="/static/images/logo.png" alt="TLTH" style="max-width: 100%;padding-top: 10px"> </b>
                <span class="logo-compact"><img src="/static/images/logo-compact.png" alt=""></span>
                <span class="brand-title">
                    <img src="/static/images/logo-compact.png" alt="TLTH" style="max-height: 100%; height: 76px">
                </span>
            </a>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->
{{ end }}