{{ define "sidebar" }}
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <div class="logo"><a href="/">
                        <img src="/images/logo.png" alt="logo" style="max-width: 30px"/> <span>TLTH</span></a>
                </div>
                <ul>
                    <li class="label">Main</li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-home"></i> Dashboard <span
                                    class="badge badge-primary">2</span> <span
                                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="index.html">Dashboard 1</a></li>
                            <li><a href="index.html">Dashboard 2</a></li>
                        </ul>
                    </li>
                    <li><a href="/use_cases.html"><i class="ti-view-list-alt"></i> Use Cases </a></li>

                    <li class="label">ETFs</li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-bar-chart-alt"></i>
                            Top {{len .SideBarMetadata.TopETFs }} <span
                                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            {{ with .SideBarMetadata.TopETFs }}
                                {{ range . }}
                                    <li><a href="{{ $.WebsitePaths.LETFSummary }}/{{ . }}.html">{{ . }}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </li>
                    <li><a href="/list_all_etfs.html"><i class="ti-check-box"></i> All </a></li>
                    <li class="label">Features</li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-layout"></i> UI Elements <span
                                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="ui-typography.html">Typography</a></li>
                            <li><a href="ui-alerts.html">Alerts</a></li>

                            <li><a href="ui-button.html">Button</a></li>
                            <li><a href="ui-dropdown.html">Dropdown</a></li>

                            <li><a href="ui-list-group.html">List Group</a></li>

                            <li><a href="ui-progressbar.html">Progressbar</a></li>
                            <li><a href="ui-tab.html">Tab</a></li>

                        </ul>
                    </li>
                    <li class="label">Stocks</li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-bar-chart-alt"></i>
                            Top {{len .SideBarMetadata.TopStocks }} <span
                                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            {{ with .SideBarMetadata.TopStocks }}
                                {{ range . }}
                                    <li><a href="{{ $.WebsitePaths.StockSummary }}/{{ . }}.html">{{ . }}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </li>
                    <li><a href="/list_all_stocks.html"><i class="ti-gallery"></i> All </a></li>
                    <li class="label">Optimizers</li>
                    <li><a href="/find_overlaps.html"><i class="ti-search"></i> Find Opportunities </a></li>


                    <li class="label">Extra</li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-files"></i> Invoice <span
                                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="invoice.html">Basic</a></li>
                            <li><a href="invoice-editable.html">Editable</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-target"></i> Pages <span
                                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="page-login.html">Login</a></li>
                            <li><a href="page-register.html">Register</a></li>
                            <li><a href="page-reset-password.html">Forgot password</a></li>
                        </ul>
                    </li>
                    <li><a href="/disclaimer.html"><i class="ti-info"></i> Disclaimers</a></li>
                </ul>
            </div>
        </div>
    </div>
{{ end }}