{{ define "sidebar" }}
    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="nk-sidebar">
        <div class="nk-nav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label">Main</li>
                <li><a href="/find_overlaps.html"><i class="ti-search"></i><span
                                class="nav-text"> Find Opportunities </span></a></li>
                <li>
                    <a href="/use_cases.html"><i class="ti-view-list-alt"></i><span class="nav-text"> Use Cases </span></a>
                </li>

                <li class="nav-label">ETFs</li>
                <li><a class="has-arrow" aria-expanded="false"><i class="ti-bar-chart-alt"></i>
                        <span class="nav-text">Top {{len .SideBarMetadata.TopETFs }}</span>
                    </a>
                    <ul aria-expanded="false">
                        {{ with .SideBarMetadata.TopETFs }}
                            {{ range . }}
                                <li><a href="{{ $.WebsitePaths.LETFSummary }}/{{ . }}.html">{{ . }}</a></li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </li>
                <li><a href="/list_all_etfs.html"><i class="ti-check-box"></i> <span class="nav-text"> All </span></a>
                </li>

                <li class="nav-label">Stocks</li>
                <li><a class="has-arrow" aria-expanded="false"><i class="ti-bar-chart-alt"></i>
                        <span class="nav-text">Top {{len .SideBarMetadata.TopStocks }} </span>
                    </a>
                    <ul aria-expanded="false">
                        {{ with .SideBarMetadata.TopStocks }}
                            {{ range . }}
                                <li><a href="{{ $.WebsitePaths.StockSummary }}/{{ . }}.html">{{ . }}</a></li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </li>
                <li><a href="/list_all_stocks.html"><i class="ti-gallery"></i><span class="nav-text"> All </span></a>
                </li>


                <li class="nav-label">Extra</li>
                <li><a href="/disclaimer.html"><i class="ti-info"></i><span class="nav-text"> Disclaimers</span></a>
                <li><a href="/faq.html"><i class="ti-agenda"></i><span class="nav-text"> FAQs</span></a>
                <li><a href="/contact.html"><i class="ti-direction"></i><span class="nav-text"> Contact</span></a>
                </li>
            </ul>
            <div class="position-absolute w-100 d-none d-md-block" style="overflow: hidden; bottom: 0">
                <hr/>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="transparent-card">
                            <a class="btn" href="{{.SideBarMetadata.SocialNetworkMetadata.FacebookURL}}"
                               target="_blank">
                                <span class="fa fa-facebook-f color-dark"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="transparent-card">
                            <a class="btn" href="{{.SideBarMetadata.SocialNetworkMetadata.TwitterURL}}" target="_blank">
                                <span class="fa fa-twitter color-dark"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="transparent-card">
                            <a class="btn" href="{{.SideBarMetadata.SocialNetworkMetadata.LinkedInURL}}"
                               target="_blank">
                                <span class="fa fa-linkedin color-dark"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}