{{ define "wrapper" }}

    {{ template "preloader" . }}

    {{/* Nav Header */}}
    {{ template "nav_header" . }}

    {{/* Side bar */}}
    {{ template "sidebar" . }}

    {{/* Header */}}
    {{ template "header" }}

{{ end }}