<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Analysis.LETFHolder }} overlap with {{$equipment := .Analysis.LETFHoldees}}{{ range $index, $element :=
        .Analysis.LETFHoldees}}{{if $index}}_{{end}}{{$element}}{{end}}</title>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            text-align: center;
            padding: 16px;
            margin-bottom: 16px
        }

        h2 {
            text-align: center;
            padding: 12px;
            margin-bottom: 12px
        }

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

        #bottom {
            background-color: #04AA6D;
            padding: 50px;
            margin-top: 200px;
        }

        #bottom_table {
            color: white;
        }

        #bottom_table > tr:hover {
            background-color: #04AA6D;
        }

        a:link {
            text-decoration: none;
            color: inherit;
        }

        a:visited {
            text-decoration: none;
            color: inherit;
        }

        a:hover {
            text-decoration: none;
            color: inherit;
        }

        a:active {
            text-decoration: none;
            color: inherit;
        }

        .rounded_border {
            padding: 2px 2px;
            margin: 2px 5px;
            background-repeat: no-repeat;
            background-position: 10px center;
            border-radius: 3px;
            /*display: block;*/
            border: 1px solid #4f4f4f;
        }

        .letf_ticker {
            color: #166f9e;
            background-color: #bcbcbc;
        }
    </style>
</head>
<body>
<h1>
    Overlap between {{ .Analysis.LETFHolder }} overlap with
    [{{ range $index,$element := .Analysis.LETFHoldees}}{{if $index}},{{end}}{{$element}}{{end}}]
</h1>
<h2>
    Total Overlap Percentage: {{ .Analysis.OverlapPercentage }}
</h2>
<table>
    <tr>
        <th>Holding Stock Name</th>
        <th>Ticker</th>
        <th>Percentage Exposure in {{ .Analysis.LETFHolder }}</th>
        {{ range .Analysis.LETFHoldees }}
            <th>Percentage Exposure in {{ . }}</th>
        {{ end }}
        <th>Minimum Percentage Overlap</th>
    </tr>
    {{ with .Analysis.DetailedOverlap }}
        {{ range . }}
            <tr>
                <td><span class="rounded_border">{{ (index (index $.StocksMap .Ticker) 0).StockDescription }}</span>
                </td>
                <td><span class="rounded_border letf_ticker"><a
                                href="{{ $.WebsitePaths.StockSummary }}/{{ .Ticker }}.html">{{ .Ticker }}</a></span>
                </td>
                <td>{{index .IndividualPercentagesMap $.Analysis.LETFHolder}}</td>
                {{ $individualPercentagesMap := .IndividualPercentagesMap }}
                {{ range $.Analysis.LETFHoldees }}
                    <td>{{index $individualPercentagesMap .}}</td>
                {{ end }}
                <td>{{ .Percentage }}</td>
            </tr>
        {{ end }}
    {{ end }}
</table>
<div id="bottom">
    <table id="bottom_table">
        <tr>
            <td>
                Powered by GitHub
            </td>
            <td>
                Powered by GCP
            </td>
            <td>
                Please file issues, features <a href="https://github.com/ravivooda/stocks/issues/new/choose">here</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>