<!DOCTYPE html>
<html>
  <head>
    <title>{{ .AccountTicker }} Summary</title>
  </head>
  <body>
    <h1>
      Summary for {{ .AccountTicker }}
    </h1>
    <h2>Holdings for {{ .AccountTicker }}</h2>
    <table>
      	<tr>
          <td>Holding Stock Name</td>
          <td>Ticker</td>
          <td>Percentage Change Today</td>
          <td>Percentage Exposure in {{ .AccountTicker }} </td>
    	</tr>
      	{{ with .Holdings }}
			{{ range . }}
      			<tr>
      			    <td>{{ .Description }}</td>
              		<td>{{ .StockTicker }}</td>
              		<td>N/A</td>
                    <td>{{ .PercentContained }}</td>
      			</tr>
			{{ end }}
      	{{ end }}
    </table>
    <h2>Most Similar other LETFs</h2>
    <table>
        <tr>
          <td>LETF Name</td>
          <td>LETF Ticker</td>
          <td>Percentage Overlap Today</td>
        </tr>
        {{ with .Overlaps }}
            {{ range . }}
                <tr>
                    <td>[Name TBD]</td>
                    <td><a href="overlap/{{ $.AccountTicker }}_{{ .LETFHolding2 }}.html">{{ .LETFHolding2 }}</a></td>
                    <td>{{ .OverlapPercentage }}</td>
                </tr>
            {{ end }}
        {{ end }}
    </table>
  </body>
</html>