<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Ticker }} Summary</title>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            text-align: center;
            padding: 16px;
            margin-bottom: 16px
        }

        h2 {
            text-align: center;
            padding: 12px;
            margin-bottom: 12px
        }

        h3 {
            text-align: center;
            padding: 12px;
            margin-bottom: 12px
        }

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

        #bottom {
            background-color: #04AA6D;
            padding: 50px;
            margin-top: 200px;
        }

        #bottom_table {
            color: white;
        }

        #bottom_table > tr:hover {
            background-color: #04AA6D;
        }

        a:link {
            text-decoration: none;
            color: inherit;
        }

        a:visited {
            text-decoration: none;
            color: inherit;
        }

        a:hover {
            text-decoration: none;
            color: inherit;
        }

        a:active {
            text-decoration: none;
            color: inherit;
        }

        .rounded_border {
            padding: 2px 2px;
            margin: 2px 5px;
            background-repeat: no-repeat;
            background-position: 10px center;
            border-radius: 3px;
            /*display: block;*/
            border: 1px solid #4f4f4f;
        }

        .etf_ticker {
            color: #166f9e;
            background-color: #bcbcbc;
        }
    </style>
</head>
<body>
<h1>
    Summary for {{ .Ticker }}
</h1>
<h2>ETFs with exposure to {{ .Ticker }}</h2>
{{ with .MappedHoldings }}
    {{ range $leverage, $overlaps := .}}
        <h3>Leverage: {{ $leverage }}</h3>
        <table>
            <tr>
                <th>Provider</th>
                <th>ETF Ticker</th>
                <th>Description</th>
                <th>{{ $.Ticker }} Percentage Exposure</th>
            </tr>
            {{ with $overlaps }}
                {{ range . }}
                    <tr>
                        <td><span class="rounded_border">{{ .Provider }}</span></td>
                        <td><span class="rounded_border etf_ticker"><a
                                        href="{{ $.WebsitePaths.LETFSummary }}/{{ .LETFAccountTicker }}.html">{{ .LETFAccountTicker }}</a></span>
                        </td>
                        <td><span class="rounded_border">{{ .LETFDescription }}</span></td>
                        <td>{{ .PercentContained }}</td>
                    </tr>
                {{ end }}
            {{ end }}
        </table>
    {{ end }}
{{ end }}
<div id="bottom">
    <table id="bottom_table">
        <tr>
            <td>
                Powered by GitHub
            </td>
            <td>
                Powered by GCP
            </td>
            <td>
                Please file issues, features <a href="https://github.com/ravivooda/stocks/issues/new/choose">here</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>