<!DOCTYPE html>
<html lang="en">
<head>
    <title>FAQs</title>
    {{ template "includes" }}
    <meta name="description" content="FAQs when using Tax Loss Harvesting Tool">
    <meta name="keywords" content="tax loss harvesting, tax harvesting, capital loss harvesting, stock loss harvesting, etf loss harvesting, taxes">
</head>
<body>
<div>
    <div id="main-wrapper">
        {{/* Wrapper */}}
        {{ template "wrapper" $.TemplateCustomMetadata }}

        {{/* Main Content */}}
        <div class="content-body">
            <div class="main">
                <div class="container-fluid">
                    <p class="section-heading">FAQs</p>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Do we record your data?</h3>
                                    <b class="card-text">No. Well, our logs record which pages are accessed, but nothing PII.</b>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Do we send your data across the wire?</h3>
                                    <b class="card-text">Yes, but only to our backend servers for processing. But you
                                        don't need to just take our word! We've open sourced our backend <a
                                                href="">here</a>.
                                        So please feel free to verify!</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Can I be tracked for using this service?</h3>
                                    <b class="card-text">No. </b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="section-heading">Terminology</p>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">What is tax loss harvesting?</h3>
                                    <b class="card-text">Tax loss harvesting or capital loss harvesting is a valuable strategy that can help investors manage their risk and maximize their returns. By claiming capital losses on investments that have gone down in value, investors can offset the gains from investments that have appreciated. For more details please see here</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">What are Leveraged ETFs?</h3>
                                    Leveraged ETFs, also known as hyper-amplified ETFs, are a type of exchange traded fund that are designed for advanced traders who want to increase their risk and return. Leveraged ETFs use derivatives, such as options and futures, to amplify the returns of an index or asset. For example, a 3x leveraged ETF, such as TECL, would provide three times the return of an underlying index or asset, such as AAPL or MSFT. This means that if the underlying index or asset returns 1%, the leveraged ETF will return 3%. Similarly, a 2x leveraged ETF would provide double the return of the underlying index or asset. However, it is important to note that leveraged ETFs
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="section-heading">Credits</p>
                    <a href="https://www.digitalocean.com/?refcode=d37e50f9fde4&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" /></a>
                </div>
            </div>
        </div>
        {{ template "footer" }}
    </div>
</div>
</body>
</html>