<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tax Loss Harvesting Tool | List All ETFs!</title>
    <meta name="description" content="Broken down list of all the ETFs supported in the tool">
    {{ template "includes" }}
</head>
<body>
<div>
    <div id="main-wrapper">
        {{/* Wrapper */}}
        {{ template "wrapper" $.TemplateCustomMetadata }}

        {{/* Main Content */}}
        <div class="content-body">
            <div class="main">
                <div class="container-fluid">
                    <section id="list-all-metadata">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title">List of supported ETFs in our tool</h2>
                                        Investing in ETFs can be a great way to diversify your portfolio. But, with hundreds of ETFs available, it can be difficult to know which ones to choose. That’s why we have created a list of supported ETFs in our tool. Our list of supported ETFs is designed to help you make informed decisions about which ETFs to invest in. We have carefully selected the ETFs that are included in our list based on their performance, liquidity, and risk factors. With this list, you can easily compare and contrast the various ETFs and make the best investment decisions for your portfolio.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="list-all-etfs-provider-row">
                        <div class="row">
                            {{ with .Providers }}
                                {{ range $key, $value := . }}
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4><small>Provider: </small>{{ $key }}</h4>
                                                <h5>{{len $value.ETFTickers }}<small> ETFs</small></h5>
                                                {{ range $ticker := $value.ETFTickers }}
                                                    <a class="btn mb-1 btn-outline-primary btn-sm"
                                                            href="{{ $.TemplateCustomMetadata.WebsitePaths.LETFSummary }}/{{ $ticker }}.html">{{ $ticker }}</a>
                                                {{ end }}
                                            </div>
                                        </div>
                                    </div>
                                {{ end }}
                            {{ end }}
                        </div>
                    </section>
                </div>
            </div>
        </div>
        {{ template "footer" }}
    </div>
</div>
</body>
</html>